<header class="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      <span class="logo__text">Zorex<span class="logo__accent">-Chain</span></span>
    </a>

    <nav class="nav" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item"><a href="./#home" class="nav__link active">Главная</a></li>
        <li class="nav__item"><a href="./#about" class="nav__link">О платформе</a></li>
        <li class="nav__item"><a href="./#benefits" class="nav__link">Преимущества</a></li>
        <li class="nav__item"><a href="./#innovations" class="nav__link">Инновации</a></li>
        <li class="nav__item"><a href="./#blog" class="nav__link">Блог</a></li>
      </ul>
    </nav>

    <a href="./#contact" class="btn btn--header">Связаться</a>

    <button class="burger" id="burger-menu" aria-label="Открыть меню">
      <span></span>
    </button>
  </div>
</header>
<div class="mobile-menu" id="mobile-menu">
  <ul class="mobile-menu__list">
    <li><a href="./#home" class="mobile-menu__link">Главная</a></li>
    <li><a href="./#about" class="mobile-menu__link">О платформе</a></li>
    <li><a href="./#benefits" class="mobile-menu__link">Преимущества</a></li>
    <li><a href="./#innovations" class="mobile-menu__link">Инновации</a></li>
    <li><a href="./#blog" class="mobile-menu__link">Блог</a></li>
    <li><a href="./#contact" class="mobile-menu__link mobile-menu__link--cta">Запросить доступ</a></li>
  </ul>
</div>